<div class="list-page">
  <div class="list-right">
    <div class="toggle" data-target="#list-user-panel">Toggle User Panel</div>
    <div class="wrapper" id="list-user-panel">
      <h2>Group Users</h2>
      <input id="list-add-user" data-url-add="<%= list_add_user_path @list %>" type="text" class="iclear b" data-url="<%= user_autocomplete_path(:only_following => true) %>" autocomplete="off" value="Add a friend..."/>
      <ul>
        <% @users.each do |user| %>
          <li>
            <%= user_link user %>
            <div class="delete ac" data-m="delete" data-d='{"user_id":"<%= user.id %>"}' data-title="Remove this user from this list." data-url="<%= list_remove_user_path @list %>">X</div>
          </li>
        <% end %>
        <% if @users.length == 0 %>
          <li class="none">You have not added any friends to this group.</li>
        <% end %>
      </ul>
    </div>
  </div>

  <h2 class="list-name"><%= @list.name %></h2>
  <div id="post-feed" class="feed-tabs">
    <%= render "posts/feed", :posts => @posts_with_user, :user => current_user%>
  </div>
</div>