<%= form_for post.comments.new, :html => { :class => 'ajax' } do |f| %>

  <div class="errors"></div>

  <%= image_tag user_default_picture_path(current_user, :d => [30, 30], :s => 'square'), :style => "max-width: 30px;" %>

  <%= f.hidden_field :post_id, :autocomplete => 'off' %>

  <div class="field lClear">
    <%= f.label :content, "Leave a comment..." %>
    <%= f.text_area :content, :autocomplete => 'off' %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Comment", :class => 'submit', :autocomplete => 'off' %>
  </div>
<% end %>