<div id="feed-nav" class="toggle-nav" data-group=".feed-tabs">
  <div class="item on" data-target="#post-feed"><div class="head">Posts</div></div>
  <div class="item ac" data-target="#post-map" data-url="<%= normal_post_map_path %>" data-m="get"><div class="head">Map</div></div>
  <div id="trending-barC" class="item no-tog"><div class="head">Trending in <%= @user.location.city %></div></div>
  <% if @my_post && @my_post.venue %>
    <div class="item ac" data-target="#post-my-venue" data-url="<%= venue_attending_path @my_post.venue.id %>" data-m="get"><div class="head">Friends going to <span><%= @my_post.venue.name %></span></div></div>
  <% end %>
  <div class="location"><%= @user.location.full %></div>
  <div class="clear"></div>
</div>

<div id="post-feed-my-tags" class="hide">
  <div class="head">posts tagged with</div>
  <ul class="tags">
  </ul>
</div>
<div class="clear"></div>

<div id="trending-bar" class="hide">
  <div class="tags">
    <div class="head">Tags Amongst Friends</div>
    <% @my_trending_tags.each do |tag| %>
      <div class="tag" data-id="<%= tag.id %>"><%= tag.name %></div>
    <%end %>
    <% if @my_trending_tags.length == 0 %>
      <div class="none">no tags</div>
    <% end %>
  </div>
  <div class="tags">
    <div class="head">Tags In <%= @user.location.city %></div>
    <% @trending_tags.each do |tag| %>
      <div class="tag" data-id="<%= tag.id %>"><%= tag.name %></div>
    <%end %>
    <% if @trending_tags.length == 0 %>
      <div class="none">no tags</div>
    <% end %>
  </div>
  <div class="venues">
    <div class="head">Venues Amongst Friends</div>
    <% @my_trending_venues.each do |venue| %>
      <div class="venue"><%= venue.name %></div>
    <%end %>
    <% if @my_trending_venues.length == 0 %>
      <div class="none">no venues</div>
    <% end %>
  </div>
  <div class="venues">
    <div class="head">Venues In <%= @user.location.city %></div>
    <% @trending_venues.each do |venue| %>
      <div class="venue"><%= venue.name %></div>
    <%end %>
    <% if @trending_venues.length == 0 %>
      <div class="none">no venues</div>
    <% end %>
  </div>
</div>

<div id="post-feed" class="feed-tabs">
  <%= render "normal_posts/feed", :posts => @posts_with_user, :user => @user%>
</div>

<div id="post-map" class="feed-tabs"></div>
<div id="post-my-venue" class="feed-tabs"></div>

<div id="subscribe-users" data-ids='<%= Yajl::Encoder.encode(@user.following_users.map{|id| id.to_s}) %>'></div>
<%= render "normal_posts/teaser", :post => nil, :current_user => nil %>