<p>
  <%= @user.first_name %>, there’s been a lot going on since you last logged in. We have a few notifications for you!
</p>

<% @notifications.each do |notification| %>
  <% if notification.type == 'follow' %>
    <p>
      - You have <%= pluralize(notification.triggered_users_notify_count.to_i, 'new follower') %>! Login to view them.
    </p>
  <% elsif notification.type == 'comment' %>
    <p>
      - You have <%= pluralize(notification.triggered_users_notify_count.to_i, 'new comment') %> on your post!
    </p>
  <% elsif notification.type == 'also' %>
    <p>
      - <%= pluralize(notification.triggered_users_notify_count.to_i, 'person') %> also commented on <%= notification.object_user.first_name %>'s post!
    </p>  
  <% end %>
<% end %>