<% if signed_in? %>

  <div id="page-header">

    <%= image_tag user_default_picture_path(@user, :d => [150, 150], :s => 'square'), :style => "max-width: 150px;", :class => 'main-image' %>

    <div class="details">
      <h1><%= @user.fullname %></h1>

      <% if signed_in? && current_user.role?('admin') %>
        <% if @user.id != current_user.id %>
          <!--<a class="user-switch" href="{{ path('homepage', {'_switch_user': user.username}) }}">Impersonate User</a>-->
        <% end %>
      <% end %>


      <div class="sub-head">
        <%= @user.location.full %>
      </div>

      <%= render "follows/button", target_user: @user %>
      <%= render "pings/button", target_user: @user %>
    </div>

    <ul class="nav">
      <li>
        <a class="<%= controller.action_name == 'show' ? 'on' : '' %>" href="<%= user_path(@user) %>">
          <% if current_user == @user %>
            My Post
          <% else %>
            <%= @user.first_name %>'s Post
          <% end %>
        </a>
      </li>
      <li>
        <a class="<%= controller.action_name == 'following_users' ? 'on' : '' %>" href="<%= user_following_users_path(@user) %>">Following</a>
      </li>
      <li>
        <a class="<%= controller.action_name == 'followers' ? 'on' : '' %>" href="<%= user_followers_path(@user) %>">Followers</a>
      </li>
      <% if signed_in? && current_user.id == @user.id %>
        <li>
          <a class="<%= controller.action_name == 'settings' ? 'on' : '' %>" href="#">Settings</a>
        </li>
      <% end %>
    </ul>

    <ul class="right-info">
      <li>Joined <%= time_ago_in_words(@user.created_at, false) %> ago</li>
      <li>Last login <%= time_ago_in_words(@user.last_sign_in_at, false) %> ago</li>
      <li>Following: <%= @user.following_users_count.to_i %></li>
      <li>Followers: <%= @user.followers_count.to_i %></li>
      <li>Lifetime Pings: <%= @user.pings_count.to_i %></li>
      <li>Lifetime +1's: <%= @user.votes_count.to_i %></li>
    </ul>
  </div>

<% end %>