<% if signed_in? %>

  <div id="user-sidebar">
    <h1><%= @user.fullname %></h1>

    <% if signed_in? && current_user.role?('admin') %>
      <% if @user.id != current_user.id %>
        <!--<a class="user-switch" href="{{ path('homepage', {'_switch_user': user.username}) }}">Impersonate User</a>-->
      <% end %>
    <% end %>


    <div class="location">
      <%= @user.location.full %>
    </div>

    <%= render "follows/button", target_user: @user %>
    <% img = default_image_url(@user, [130, 165]) %>
    <%= image_tag img[:url], img[:options].merge!(:class => 'profileImage') %>
    <ul class="nav">
      <li>
        <a class="<%= controller.action_name == 'following_users' ? 'on' : '' %>" href="<%= user_following_users_path(@user) %>">Following</a>
      </li>
      <li>
        <a class="<%= controller.action_name == 'followers' ? 'on' : '' %>" href="<%= user_followers_path(@user) %>">Followers</a>
      </li>
      <% if signed_in? && current_user.id == @user.id %>
        <li>
          <a class="{{ navSelected == 'settings' ? 'on' : '' }}" href="#">Settings</a>
        </li>
      <% end %>
    </ul>

    <ul class="stats">
      <li>Joined <%= time_ago_in_words(@user.created_at, false) %> ago</li>
      <li>Last login <%= time_ago_in_words(@user.last_sign_in_at, false) %> ago</li>
      <li>Following: <%= @user.following_users_count %></li>
      <li>Followers: <%= @user.followers_count %></li>
      <li>Lifetime Pings: <%= @user.pings_count %></li>
    </ul>
  </div>

<% end %>