<%= form_for normal_post, :html => { :class => 'ajax' } do |f| %>

  <div class="errors"></div>

  <h4>Hey <%= user.first_name %>, what are you doing tonight?</h4>

  <div class="type working" data-val="working">Working</div>
  <div class="type low_in" data-val="low_in">Staying In</div>
  <div class="type low_out" data-val="low_out">Relaxing Out</div>
  <div class="type big_out" data-val="big_out">Partying</div>
  <div class="clear"></div>

  <%= f.hidden_field :night_type, :class => 'post_type', :autocomplete => 'off' %>

  <div class="field lClear">
    <%= f.fields_for :tag do |t| %>
      <%= t.label :name, "Tag your night (optional). You have 1-3 words." %>
      <%= t.text_field :name, :autocomplete => 'off' %>
    <% end %>
  </div>

  <%= render "posts/venue_input", :f => f, :venue_label => 'Add Venue (Optional). Please choose from suggested results.', :venue_required => '' %>

  <div class="actions">
    <%= f.submit "Submit Post", :class => 'submit', :autocomplete => 'off' %>
  </div>
<% end %>
