<div class="post-details normal two-col-equal-height">
  <div class="left voters">
    <!--{% if post.invite is not defined or not post.invite %}-->
    <h4>+1's</h4>
    <%= render "votes/voters", :voters => @voters %>
  </div>

  <div class="right">
    <% if @post.venue %>
      <h4 class="venue">@ <%= @post.venue.pretty_name %></h4>
    <% end %>
    <div class="comment-feed cf-<%= @post.id %>">
      <%= render "comments/form", :post => @post %>
      <%= render "comments/feed", :comments => @comments_with_user %>
    </div>
  </div>
  <div class="clear"></div>
</div>