<div class="post-details normal two-col-equal-height">
  <div class="left voters">
    <!--{% if post.invite is not defined or not post.invite %}-->
    <h4>+1's</h4>
    <% @voters.each do |voter| %>
      <%= user_link(voter, 15) %>
    <% end %>

    <% if @voters.length == 0 %>
    <div class="none">No +1's yet</div>
    <% end %>
  </div>

  <div class="right">
    <% if @post.venue %>
      <h4 class="venue">@ <%= @post.venue.name %></h4>
    <% end %>
    <div class="comment-feed cf-<%= @post.id %>">
      <%= render "comments/form", :post => @post %>
      <% @comments_with_user.each do |comment| %>
        <%= render "comments/teaser", :comment => comment %>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>