<% unless @my_post == nil %>
  <div id="my-post">
    <h5>
      <%= @my_post.night_type_short %>
    </h5>

    <div id="change-post">Change</div>

    <div class="clear"></div>

    <% if @my_post.has_venue? %>
      <h6>@ <%= @my_post.venue_pretty_name %></h6>
    <% end %>

    <div class="tags">
      <% if @my_post.tag %>
        <%= render "tags/teaser", :tag => @my_post.tag %>
      <% end %>
    </div>
    <div class="clear"></div>

    <% unless signed_in? && @user.get_social_connect('twitter') %>
      <a class="tweet off" href='<%= user_omniauth_authorize_path(:twitter) %>'>
        Connect Twitter & Tweet
        <div class="twitter-bird-small"></div>
      </a>
    <% else %>
      <div class="tweet">
        Tweet My Plans
        <div class="twitter-bird-small"></div>
      </div>
      <div class="hide">
        <form class='tweet_form ajax' action="<%= tweet_post_path %>" method="POST">
          <textarea name='tweet_content'><%= @my_post.tweet_text %></textarea>
          <input type='submit' class='submit' value="Tweet" />
        </form>
      </div>
    <% end %>

  </div>
<% else %>
  <div id="my-post">
    <span id="declare-post"></span>
    You have not declared your post for the night.
  </div>
<% end %>