<div id="sidebar">
  <div id="user_panel">
    <h2>
      <a class="name" href="<%= user_path @user %>">
        <%= @user.fullname %>
      </a>

      <div class="clear"></div>
    </h2>
    <div class="profile_image">
      <%= image_tag user_default_picture_path(@user, :d => [65, 65]), :style => "max-width: 65px;" %>
    </div>
    <div class="stats">
      <div class="item">
        <div class="label"><%= link_to 'Following', user_following_users_path(@user) %></div>
        <div class="value" id="my-following"><%= @user.following_users_count.to_i %></div>
      </div>
      <div class="item">
        <div class="label"><%= link_to 'Followers', user_followers_path(@user) %></div>
        <div class="value"><%= @user.followers_count.to_i %></div>
      </div>
    </div>
    <a class="small-link" href="<%= user_settings_path(@user) %>">Settings</a>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete', :class => 'small-link', :id => 'logout') %>
    <div class="clear"></div>
  </div>

  <%= render "notification/unread_count", :user => @user %>

  <%= render "user/my_post" %>

  <%= render "invites/form", :user => @user %>

  <%= render_cell :list, :sidebar_list %>

  <%= render "users/undecided", :users => @undecided %>

</div>