<div id="sidebar">
  <div id="user_panel">
    <div class="profile_image">
      <%= image_tag user_default_picture_path(@user, :d => [65, 65]), :style => "max-width: 65px;", :alt => '' %>
    </div>
    <div class="stats">
      <h5>
        <a class="name" href="<%= user_path @user %>">
          <%= @user.fullname %>
        </a>
      </h5>
      <div class="item">
        <div class="label"><%= link_to 'Following', user_following_users_path(@user) %></div>
        <div class="value" id="my-following"><%= @user.following_users_count.to_i %></div>
      </div>
      <div class="item">
        <div class="label"><%= link_to 'Followers', user_followers_path(@user) %></div>
        <div class="value"><%= @user.followers_count.to_i %></div>
      </div>
    </div>
    <a class="small-link" href="<%= user_settings_path(@user) %>">Settings</a>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete', :class => 'small-link', :id => 'logout') %>
    <div class="clear"></div>
  </div>

  <%= render "notification/unread_count", :user => @user, :my_post => @my_post %>

  <%= render "user/my_post" %>

  <%= render "invites/form", :user => @user %>

  <%= render_cell :list, :sidebar_list %>

  <div id="whoot-video">
    <h5>What is The Whoot?</h5>
    <iframe src="http://player.vimeo.com/video/36704931?title=0&amp;byline=0&amp;portrait=0" width="179" height="100" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>

  <% if @my_post %>
    <%= render "users/undecided", :users => @undecided %>
  <% end %>

</div>