<%= form_for invite_post, :html => { :class => 'ajax hide' } do |f| %>

  <div class="errors"></div>

  <div class="type working" data-val="working">Working</div>
  <div class="type low_in" data-val="low_in">Staying In</div>
  <div class="type low_out" data-val="low_out">Relaxing Out</div>
  <div class="type big_out" data-val="big_out">Partying</div>
  <div class="clear"></div>

  <%= f.hidden_field :night_type, :class => 'post_type', :autocomplete => 'off' %>

  <%= render "posts/venue_input", :f => f, :venue_label => "Venue name...", :venue_required => 'required' %>

  <div class="field lClear required">
    <%= f.label :time, "Start time..." %>
    <%= f.text_field :time, :autocomplete => 'off' %>
  </div>

  <div class="field lClear">
    <%= f.label :content, "Invite description..." %>
    <%= f.text_area :content, :autocomplete => 'off' %>
  </div>

  <div class="field image" data-tip="The Image">
    <%= render 'shared/asset_image_field', :f => f %>
  </div>

  <div class="actions">
    <%= f.submit "Create Invite", :class => 'submit', :autocomplete => 'off' %>
  </div>

  <div id="<%= f.object.class.name.underscore %>_uploadC"></div>
<% end %>
