<div id="page-header">
  <% img = default_image_url(post, [180, 180], 'square') %>
  <% if img %>
    <%= image_tag img, class: 'main-image', :style => 'max-width: 180px;', :alt => '' %>
  <% else %>
    <%= image_tag "inviteDefault.png", :class => 'main-image', :width => '180px' %>
  <% end %>

  <div class="details">
    <h1>
      <span><%= post.night_type_noun %></span>
      at <%= post.venue.name %>
    </h1>

    <% if post.status == 'Active' %>
      <%= render "attends/button", :target_invite => post %>
      <div class="clear"></div>
    <% else %>
      <div class="cancelled">This invite was cancelled.</div>
    <% end %>

    <div class="sub-head">
      <div class="info">
        <div class="item">
          created by <%= user_link post.user_snippet, 15 %>
        </div>
        <div class="item">
          <%= "#{post.time} @ #{post.venue.name}" %>
        </div>
        <div class="item">
          <%= post.venue.address %>
        </div>
        <div class="description">
          <%= post.content %>
        </div>
      </div>
    </div>
  </div>

  <% if post.venue.coordinates %>
    <div class="right-info">
      <div id="map-<%= post.id %>" class="invite-map" data-name="<%= post.venue.name %>" data-lat="<%= post.venue.coordinates[1] %>" data-lon="<%= post.venue.coordinates[0] %>"></div>
    </div>
  <% end %>

</div>