<!--{% if not userBlocked(app.user, invite.createdBy) %}-->

<div class="teaser invite <%= post.night_type %>" id="invite-<%= post.id %>">
  <% img = default_image_url(post, [120, 120], 'square') %>
  <% if img %>
    <%= image_tag img, class: 'inviteImage' %>
  <% else %>
    <%= image_tag "inviteDefault.png", :class => 'inviteImage', :width => '120px' %>
  <% end %>

  <h2 class="head">
    <a href="<%= invite_post_path post %>">
      <span class="type"><%= post.night_type_noun %></span> at <%= post.venue.name %>
    </a>
  </h2>

  <div class="item">
    <div class="desc">who</div>
    <%= user_link post.user_snippet, 15 %>
  </div>

  <div class="item">
    <div class="desc">where</div>
    <%= "#{post.venue.name}: #{post.venue.address}" %>
  </div>

  <div class="item">
    <div class="desc">when</div>
    <%= post.time %>
  </div>

  <div class="attending">
    <div class="container">
      <!--TODO: Refactor this query.-->
      <% attendees = User.where(:_id.in => post.attendees) %>
      <% attendees.each do |attendee| %>
      <a href="<%= user_path attendee %>" title="<%= attendee.fullname %>">
        <%= image_tag user_default_picture_path(attendee, :d => [30, 30], :s => 'square'), :style => "max-width: 30px;" %>
      </a>
      <% end %>
    </div>
    <h5><%= post.attending_count %> attending</h5>
  </div>
</div>