<div class="teaser event <%= event._type %> <%= 'last' if last %>" id="c-<%= event.id %>">

  <div class="media">
    <%= image_tag user_default_picture_path(event.user, :d => [30, 30], :s => 'square'), :alt => '' %>
    <div class='icon <%= event.icon %>'></div>
  </div>

  <div class="content">
    <p>
      <%= user_link(event.user, 15) %>
      <%= event.text.html_safe %>

      <% if event.comment? %>
        <% #TODO: Change this workaround to cancan (getting "can?" method undefined): if can? :destroy, comment %>
        <% if current_user.id == event.comment.user_snippet.id || current_user.id == event.comment.has_comments._parent.user_snippet.id || current_user.role?("admin") %>
          <div class="ac disable conf hide" title="delete this comment" data-m="DELETE" data-url="<%= comment_path event.comment %>">X</div>
        <% end %>
      <% end %>  
    </p>
    
    <div class="time"><%= time_ago_in_words event.created_at, false %> ago</div>
  </div>
</div>