<div class="venue_input">
  <%= f.fields_for :venue do |v| %>
    <div class="field lClear <%= venue_required %>">
      <%= v.hidden_field :name, :autocomplete => 'off', :class => 'name', 'data-url' => venue_autocomplete_path(:city => @user.location.id) %>
    </div>
    <div class="field lClear address_fields <%= venue_required %>">
      <%= v.label :address, venue_label, :for => "#{f.object.class.name.underscore}_address_placeholder" %>
      <input type="text" name="<%= "#{f.object.class.name.underscore}[address_original]" %>" id="<%= "#{f.object.class.name.underscore}_address_placeholder" %>" class="address_placeholder" placeholder="" autocomplete="off" />
      <%= v.hidden_field :address_string, :autocomplete => 'off', :class => 'address' %>
    </div>
    <%= v.hidden_field :coordinates_string, :autocomplete => 'off', :class => 'coordinates' %>
    <%= v.hidden_field :phone, :autocomplete => 'off', :class => 'phone' %>
  <% end %>
</div>