<div class="scoreC">
  <span class="votes v-<%= target.id %>"><%= target.votes %></span>
  <button class="<%= (!signed_in? || !target.has_voter?(current_user)) ? 'btn voteB' : 'unvoteB' %> vb-<%= target.id %>">
    <div class="default plus-g-1616" data-url="<%= vote_create_path %>" data-d='{"id":"<%= target.id %>"}' data-m="post"></div>
    <div class="triggered plus-g-1616"></div>
  </button>
</div>