<% if target_invite.user_id != current_user.id %>
  <button class="btn <%= (!signed_in? || !target_invite.attending?(current_user)) ? 'attendB' : 'unattendB' %> attend_<%= target_invite.id %>">
    <span class="default" data-url="<%= invite_attend_create_path %>" data-d='{"id":"<%= target_invite.id %>"}' data-m="post">
      + Attend
    </span>
    <span class="triggered" data-url="<%= invite_attend_destroy_path %>" data-d='{"id":"<%= target_invite.id %>"}' data-m="delete">
      - Cancel Attending
    </span>
  </button>
<% end %>