<!doctype html>
  <!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"> <![endif]-->
  <!--[if IE 7]><html class="no-js ie7 oldie" lang="en"> <![endif]-->
  <!--[if IE 8]><html class="no-js ie8 oldie" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--><html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= params[:controller] %> <%= calculate_time_of_day %>">
    <div id="wrapper">
      <% if not signed_in? %>
         <%= render 'pages/splash' %>
      <% else %>
        <div id="application">
          <%= render "shared/header" %>
          <%= render_cell :user, :sidebar %>
          <div id="content">
            <div id="page">
              <%= yield :feed_filters %>
              <%= yield :user_header %>
              <div id="page_content" class="<%= controller.action_name %>">
                <%= render_cell :post, :create %>
                <%= yield %>
                <% if Rails.env.development? %>
                  <%= debug(params) %>
                  <div id="debug-upload-runtime"></div>
                <% end %>
              </div>
            </div>
          </div>
          <div id="footer">
            <%= link_to 'Home', root_path %> &#149;
            <%= link_to 'About', about_path %> &#149;
            <%= link_to 'Contact', contact_path %> &#149;
            <%= link_to 'Terms', terms_path %> &#149;
            <%= link_to 'Privacy', privacy_path %>
            <% if current_user.role?('admin') %>
            &#149; <%= link_to 'Admin Area', git_er_done_dashboard_path %>
            <% end %>

            <div class="fb-like" id="footer-fb-like" data-href="http://www.facebook.com/pages/Whoot/192579647454740" data-send="false" data-layout="button_count" data-width="125" data-show-faces="true" data-font="verdana"></div>
          </div>
        </div>
      <% end %>

      <div id="ajax-loading">Loading...</div>
      <div id="ajax-notice"></div>
      <div id="ajax-success"></div>
      <div id="ajax-error"></div>

      <div style="dislay: none">
        <div id="static-data" data-d='{"myId":"<%= signed_in? ? current_user.id.to_s : 0 %>","userAutoUrl":"/soul-data/search","userAutoBucket":"<%= current_user.id.to_s if signed_in? %>","venueAutoBucket":"venue<%= current_user.location.id.to_s if signed_in? %>","venueAutoUrl":"/soul-data/search"}'></div>
      </div>
    </div>
    <div id="form-submitting">Form submitting...</div>

    <% unless calculate_time_of_day == :day %>
      <div id="stars-bg" class="<%= 'fade' if calculate_time_of_day == :sunset %>">&nbsp;</div>
    <% end %>
    <div id="city-bg">&nbsp;</div>

    <%= javascript_include_tag "application" %>
    <script src="http://maps.google.com/maps/api/js?libraries=places&sensor=false"></script>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= ENV['FACEBOOK_APP_ID'] %>', // App ID
//          channelURL : '', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          oauth      : true, // enable OAuth 2.0
          xfbml      : true  // parse XFBML
        });

        // Additional initialization code here
      };
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#appId=224248554281682&xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Start of Woopra Code -->
    <script type="text/javascript">
      function woopraReady(tracker) {
          tracker.setDomain('<%= Rails.env.staging? ? 'staging.thewhoot.com' : 'thewhoot.com' %>');
          tracker.setIdleTimeout(300000);

          <% if signed_in? %>
              tracker.addVisitorProperty('name', '<%= current_user.fullname %>');
              tracker.addVisitorProperty('email', '<%= current_user.email %>');
          <% end %>

          tracker.track();

          return false;
      }
      (function() {
          var wsc = document.createElement('script');
          wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
          wsc.type = 'text/javascript';
          wsc.async = true;
          var ssc = document.getElementsByTagName('script')[0];
          ssc.parentNode.insertBefore(wsc, ssc);
      })();
    </script>

    <!-- User Voice -->
    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/YxzcwxpcN52gzvCVRkaDA.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>

    <%= yield :js %>

    <%= render "invite_posts/upload_js" if signed_in? %>

    <% if ENV['RAILS_ENV'] != 'production' %>
      <div id="slt"><%= load_time %><br /><%= ENV['RAILS_ENV'] %></div>
    <% end %>
  </body>
</html>